<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>My App</title>
</head>
<body>
	<center>

	<h1>Change Password</h1>

	<form action="{% url 'change_pswd' %}" method="POST">
			{% csrf_token %}
			
			<table cellspacing="0px">
				
				<tr>
					<td><label>Old Password : </label></td>
					<td><input type="password" name="old_pswd"/></td>
				</tr>

				<tr>
					<td><label>New password : </label></td>
					<td><input type="password" name="new_pswd"/></td>
				</tr>

				<tr>
					<td><label>Confirm password : </label></td>
					<td><input type="password" name="cnew_pswd"/></td>
				</tr>

				<tr>
					<td><input type="submit" value="Change Password"/></td>
				</tr>

			</table>

		</form>

	</center>
</body>
</html>